@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
html,
body{
  color: #3F3F3F;
  font: 16px/1.25rem 'Source Sans Pro', sans-serif;
  background-color: #E5E5E5;
  box-sizing: border-box;
}